# http://editorconfig.org/

root = true

[*]
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.{csproj,vbproj,vcxproj,vcxproj.filters,proj,projitems,shproj}]
indent_size = 2

[*.{sln}]
indent_style = tab

[*.{json,yml}]
indent_size = 2

[*.{cs,tt}]
charset = utf-8
indent_style = space
indent_size = 4
