root = true

[*]
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

[*.xml]
indent_style = space

[*.cs]
indent_style = space
indent_size = 4
csharp_new_line_before_open_brace = properties,control_blocks,types,methods,anonymous_types,object_collection_array_initalizers
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_before_members_in_anonymous_types = true
csharp_indent_switch_labels = false
csharp_preserve_single_line_blocks = true