language: csharp
solution: MoreLinq.sln
mono: latest
dist: trusty
sudo: required
dotnet: 1.0.0-preview2-003131
env:
  - CONFIGURATION=Debug
  - CONFIGURATION=Release

install:
  - dotnet restore

script:
  - dotnet build -c $CONFIGURATION MoreLinq
  - dotnet build -c $CONFIGURATION MoreLinq.Test
  - dotnet test -c $CONFIGURATION -f netcoreapp1.0 MoreLinq.Test
  - sh ./travis-mono-test.sh
