language: csharp
os:
  - linux
  - osx
osx_image: xcode8.3
solution: MoreLinq.sln
mono: 5.0.1
dist: trusty
sudo: required
dotnet: 2.0.0
env:
  - CONFIGURATION=Debug
  - CONFIGURATION=Release
addons:
  apt:
    sources:
    - sourceline: 'deb [arch=amd64] https://packages.microsoft.com/repos/microsoft-ubuntu-trusty-prod trusty main'
      key_url: 'https://packages.microsoft.com/keys/microsoft.asc'
    packages:
    - dotnet-hostfxr-1.0.1
    - dotnet-sharedframework-microsoft.netcore.app-1.0.5

before_install:
  - msbuild /version
  - |
    if [ "$TRAVIS_OS_NAME" == "osx" ] || [ `uname` == "Darwin" ]; then
      # Handle too many files on OS X
      ulimit -n 4096
      # Install dotnet core 1 sdk
      wget --retry-connrefused --waitretry=1 -O /tmp/dn1.pkg 'https://download.microsoft.com/download/B/9/F/B9F1AF57-C14A-4670-9973-CDF47209B5BF/dotnet-dev-osx-x64.1.0.4.pkg'
      sudo installer -pkg /tmp/dn1.pkg -target /
    fi

install:
  - dotnet restore

script:
  - ./msbuild.sh /v:m /p:Configuration=$CONFIGURATION
  - dotnet exec MoreLinq.Test/bin/$CONFIGURATION/netcoreapp1.0/MoreLinq.Test.dll
  - dotnet exec MoreLinq.Test/bin/$CONFIGURATION/netcoreapp2.0/MoreLinq.Test.dll
  - mono MoreLinq.Test/bin/$CONFIGURATION/net451/MoreLinq.Test.exe
