version: '{build}'
image: Visual Studio 2017
skip_commits:
  files:
    - '*.md'
    - '*.txt'
    - '.editorconfig'
    - lic/*
environment:
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
install:
- ps: Install-Product node 6
- npm install -g eclint
- git rm .editorconfig
- eclint check -n "**/*.{cs,tt,cmd,sh,md,txt,yml}"
- eclint check -w "**/*.{cs,tt,cmd,sh,md,txt,yml,json,sln,csproj,shfbproj}"
- git reset --hard
- ps: tools\dotnet-install.ps1 -Version ((type .\global.json | ConvertFrom-Json).sdk.version)
before_build:
- dotnet --info
build_script:
- ps: >-
    grep --extended-regexp '^[[:space:]]*using[[:space:]]+System\.Linq;' (dir MoreLinq.Test\*Test.cs)

    if ($LASTEXITCODE -eq 0) {
        throw 'Unit tests should not import System.Linq'
    }

    $id = $env:APPVEYOR_REPO_COMMIT_TIMESTAMP -replace '([-:]|\.0+Z)', ''

    $id = $id.Substring(0, 13)

    cmd /c call pack.cmd ci-$id

    if ($LASTEXITCODE -ne 0) {
        throw "Building/Packing failed with an exit code of $LASTEXITCODE."
    }

    $diff = git diff --ignore-all-space --exit-code 2>&1

    $diff | % { if ($_ -is [string]) { $_ } else { [string]$_ } } | echo

    if ($LASTEXITCODE -ne 0) {
        throw "New code was generated during build that's not been committed."
    }
test_script:
- cmd: test.cmd
artifacts:
- path: dist\*.nupkg
deploy:
- provider: NuGet
  server: https://www.myget.org/F/morelinq/api/v2/package
  api_key:
    secure: fhGwXyO35FSshRzs5GWmF1LJTrd1sIqmS/jNCSfO2LfOciuYAKiXuFMYZFGiTAl+
  symbol_server: https://www.myget.org/F/morelinq/symbols/api/v2/package
  on:
    branch: master
notifications:
- provider: Email
  to:
  - morelinq-roll@googlegroups.com
  on_build_success: true
  on_build_failure: true
  on_build_status_changed: false
